.git
.notebook
*cache
*.pyc

# Ignore the virtual environment directory
/venv/

# Ignore all YAML files except for template.yml
*.yml
!template.yml

# Ignore all .gitignore files with additional extensions
*.gitignore.*